@model GamingWorldSystem.Data.Models.Game

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Game</h1>
<hr />
<br />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PremierDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.PremierDate.ToString("dd/MM/YYYY")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger fw-bold text-light" />
        <a class="btn btn-secondary fw-bold text-light" asp-action="Index">Back to List</a>
    </form>
</div>
