@model IEnumerable<Event>

@{
	ViewData["Title"] = "Events";
}

<h1>@ViewData["Title"]</h1>

@if (User.IsInRole("Administrator"))
{
	<p>
		<a class="btn btn-success fw-bold text-light" asp-action="Create">Create New</a>
	</p>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EventDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@item.EventDate.ToString("MM/dd/yyyy")
				</td>
				<td>
					@if (User.IsInRole("Administrator"))
					{
						<a class="btn btn-warning fw-bold text-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						<a class="btn btn-danger fw-bold text-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					}
					<a class="btn btn-info fw-bold text-light" asp-action="Details" asp-route-id="@item.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>